/*通用warp*/
.wrap {
    width: 1200px;
    margin: 0 auto;
}

a:hover {
    color: #008842;
}
/*site-nav*/
#site-nav {
    z-index: 99;
    position: relative;
    background: #f7f9f8;

    .wrap {
        height: 30px;

        s {
            position: absolute;
            top: 13px;
            right: 8px;
            width: 8px;
            height: 4px;
            margin-left: 5px;
            background: url("http://static01.yiguo.com/www/images/header/header-img.png") no-repeat 0 0;
        }

        .fl {
            float: left;

            li {
                float: left;
                line-height: 30px;
                margin-right: 10px;
            }

            .city {
                position: relative;
                color: #008842;
            }

            .city-sz {
                float: left;
                height: 16px;
                line-height: 16px;
                margin: 7px 0;
                cursor: pointer;
            }

            .city-tit {
                float: left;

                .city-name {
                    z-index: 100;
                    position: relative;
                    display: block;
                    float: left;
                    height: 20px;
                    line-height: 20px;
                    margin-top: 5px;
                    padding: 0 20px 5px 5px;
                    color: #008842;
                    cursor: pointer;

                    s {
                        top: 9px;
                    }
                }
            }
        }

        .fr {
            float: right;

            li {
                float: right;
                position: relative;
                line-height: 30px;
                padding: 0 10px;
                text-align: center;
            }

            .con {
                position: absolute;
                top: 30px;
                left: 0;
                border: 1px solid #b4c1a3;
                background: #fff;
            }

            i {
                width: 18px;
                height: 18px;
                margin-right: 5px;
                background: url("http://static01.yiguo.com/www/images/header/header-img.png") no-repeat left top;
            }

            .tit a {
                display: block;
                float: left;
                height: 30px;
                line-height: 30px;
                padding: 0 20px 0 10px;
                cursor: pointer;
                z-index: 100;
                border: solid #f7f9f8;
                border-width: 0 1px;
                position: relative;
            }

            .mobile {
                padding: 0;

                i {
                    background-position: -64px 0;
                }

                .con {
                    width: 125px;
                    padding: 10px;
                    line-height: 25px;
                    display: none;

                    .item {
                        margin: 5px 0;
                    }
                }
            }

            .myyiguo {
                padding: 0;

                i {
                    background-position: -40px 0;
                }

                .con {
                    width: 100px;
                    padding: 5px 12px;
                    text-align: left;
                    display: none;

                    a {
                        display: block;
                        line-height: 25px;
                        color: #727272;
                    }

                    b {
                        margin-left: 10px;
                        padding: 0 5px;
                        color: #fff;
                        background: #008842;
                        -webkit-border-radius: 16px;
                        -moz-border-radius: 16px;
                        border-radius: 16px;
                    }
                }
            }

            .pay {
                i {
                    width: 22px;
                    background-position: -147px 0;
                }
            }

            .tel {
                i {
                    background-position: -86px 0;
                }
            }
        }
    }
}

.clearfix:after,
.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*header*/

header {
    background: #e0e0e0;

    .wrap {
        height: 58px;
        padding: 15px 0 5px;

        .logo {
            width: 280px;
            float: left;
            margin-right: 10px;

            a {
                display: block;
                width: 145px;
                height: 50px;
                background: url("http://static01.yiguo.com/www/images/header/logo.png") no-repeat 0 0;
            }
        }

        .search {
            position: relative;
            width: 528px;
            float: left;

            .search-input {
                float: left;
                width: 425px;
                height: 26px;
                line-height: 26px;
                padding: 0 10px;
                border: 1px solid #008842;
                background: #e0e0e0;
                color: #999;
            }
            .search-btn {
                float: left;
                display: block;
                width: 81px;
                height: 28px;
                line-height: 28px;
                padding: 0;
                border: none;
                cursor: pointer;
                color: #fff;
                font-size: 14px;
                background: #008842;
            }

            .search-keywords {
                height: 30px;
                line-height: 30px;

                a {
                    margin-right: 5px;
                    color: #727272;
                    display: inline-block;
                }
            }
        }

        .shopping-cart {
            z-index: 88;
            float: right;
            position: relative;

            .shopping-btn {
                width: 170px;
                height: 28px;
                padding: 6px 0;
                line-height: 28px;
                text-align: center;
                font-size: 25px;
                border: 1px solid #008842;
                background: #fff;
                cursor: pointer;

                a {
                    display: block;
                    color: #008842;
                }

                .totleNum {
                    display: inline-block;
                    vertical-align: middle;
                    width: 28px;
                    height: 20px;
                    margin-right: 10px;
                    font-size: 12px;
                    padding: 0;
                    background: url("http://static01.yiguo.com/www/images/header/header-img.png") no-repeat -112px 0;

                    b {
                        display: block;
                        width: 24px;
                        line-height: 12px;
                        margin-right: 4px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
/*header-nav*/
#header-nav {
    z-index: 77;
    position: relative;

    .catalogs {
        float: left;
        position: relative;

        .catalogs-title {
            width: 180px;
            height: 38px;
            position: relative;
            text-align: center;
            background: #008842;

            a {
                overflow: hidden;
                font: bold 15px/16px "Microsoft YaHei";
                color: #fff;
                display: block;
                height: 16px;
                padding: 11px 0;
            }
        }

        .catalogs-list {
            position: absolute;
            height: 462px;
            background: rgba(255, 255, 255, 0.9);

            .current {
                h3 {
                    a {
                        z-index: 78;
                        padding: 8px 0 8px 15px;
                        background: rgba(255, 255, 255, .95);
                        border: 1px solid #bbb;
                        border-right: 0;
                    }

                    i {
                        margin-left: 7px;
                        transition: all 0.2s ease-in;
                    }
                }
            }

            .sub-item {
                z-index: 3;
                display: none;
                position: absolute;
                top: -38px;
                left: 180px;
                width: 215px;
                height: 464px;
                padding: 17px 20px;
                border: 1px solid #bbb;
                background: rgba(255, 255, 255, 0.9);
            }

            h3 a {
                overflow: hidden;
                position: relative;
                display: block;
                width: 165px;
                height: 24px;
                padding: 9px 0 9px 15px;
                font: normal 14px/24px "Microsoft YaHei";

                i {
                    overflow: hidden;
                    width: 24px;
                    height: 24px;
                    margin-right: 15px;
                    background: url("http://static01.yiguo.com/www/images/header/nav-icon.png") no-repeat 0 0;
                    -webkit-transition: all 0.3s ease-in;
                    -moz-transition: all 0.3s ease-in;
                    -ms-transition: all 0.3s ease-in;
                    -o-transition: all 0.3s ease-in;
                    transition: all 0.3s ease-in;
                }

                s {
                    display: none;
                    position: absolute;
                    top: 7px;
                    right: 18px;
                    font-family: Arial;
                    text-decoration: none;
                }
            }

            h4 {
                margin-bottom: 10px;
                font: normal 18px "Microsoft YaHei";
                text-decoration: underline;

                a {
                    color: #20985a;
                }
            }

            .sub-list {
                display: inline-block;
                line-height: 25px;
                margin-right: 30px;
                color: #686868;

                a {
                    display: inline-block;
                    line-height: 25px;
                    margin-right: 30px;
                    color: #686868;
                }
            }

            .catalogs-ad {
                position: absolute;
                bottom: 10px;

                a {
                    display: block;
                }
            }

            .t01_channelhome a i {
                background-position: 0 0;
            }

            .t02_channelhome a i {
                background-position: -24px 0;
            }

            .t03_channelhome a i {
                background-position: -144px 0;
            }

            .t04_channelhome a i {
                background-position: -96px 0;
            }

            .t05_channelhome a i {
                background-position: -48px 0;
            }

            .t06_channelhome a i {
                background-position: -72px 0;
            }

            .t012_channelhome a i {
                background-position: 0 0;
            }

            .t08_channelhome a i {
                background-position: -120px 0;
            }

            .t10_channelhome a i {
                background-position: -168px 0;
            }

            .t07_channelhome a i {
                background-position: -192px 0;
            }

            .t09_channelhome a i {
                background-position: -216px 0;
            }

            .t11_channelhome a i {
                background-position: -240px 0;
            }
        }
    }
}
