@import "reset.scss";
@import "common.scss";
/*header*/
.header {
    border: none;
    background: #e0e0e0;

    .wrap {
        padding: 15px 0 5px;

        .logo {
            position: relative;

            a {
                width: 195px;
                height: 50px;
                background: url("https://login.yiguo.com/Content/img/themes/logo.png") no-repeat;
            }

            .h-tit {
                color: #008842;
                left: 240px;
                font: 28px/1 Microsoft YaHei;
                position: absolute;
                top: 6px;
                white-space: nowrap;
            }
        }
    }
}
/*form内容*/

.register {
    padding-top: 54px;

    .tabbable {
        position: relative;
        width: 100%;
        margin: 10px auto 0;

        .right {
            position: absolute;
            top: -27px;
            right: 0;
            font: 14px/1 "Microsoft YaHei";
            text-align: right;

            .orange {
                margin-right: 36px;
                color: #ef760a;
                text-decoration: underline;
            }
        }
    }

    .tab-content .tab-pane {
        border: 1px solid #c4dfb1;
        background-color: #fff;
        padding: 40px 0 50px;
    }

    .fl {
        float: left;
    }

    p {
        margin-bottom: 29px;
        font: 14px Arial,"Microsoft YaHei";
    }

    .field-name {
        display: inline-block;
        width: 220px;
        text-align: right;
        padding-right: 20px;
    }

    .input {
        margin-right: 20px;
        border: 1px solid #c1c1c1;
        background-color: #fff;
        height: 38px;
        width: 290px;
        vertical-align: middle;
        padding-left: 14px;
        font: 14px/38px "Microsoft YaHei";
    }

    .gray {
        color: #666666;
    }

    .fr {
        float: right;
        position: relative;
        height: 340px;
        width: 330px;
        text-align: center;
        padding-top: 50px;
        font: 14px/56px "Microsoft YaHei";

        .rimg {
            position: absolute;
            left: -140px;
            top: 70px;
        }
    }

    .input-yzm {
        width: 147px;
    }

    .input-key,
    .input-mail,
    .input-phone {
        background-image: url("https://login.yiguo.com/Content/img/bg_input.png");
        background-repeat: no-repeat;
    }

    .input-phone {
        background-position: 276px -30px;
    }

    .input-key {
        background-position: 276px -70px;
    }

    input[type=checkbox] {
        margin-right: 9px;
        height: 14px;
        width: 14px;
        vertical-align: -1px;
    }

    .btn-green-l {
        width: 306px;
        background: #008842;
    }
}
